.point_wrapper {
    font-family: Snell Roundhand, cursive;
    color: teal;
    text-align: left;
    padding: 20px;
}

.adress {
    display: flex;
    flex-direction: column;
}

.point_wrapper a {
    color: teal;
}