.thing_wrapper {
    padding: 20px;
    font-family: Snell Roundhand, cursive;
    color: white;
    background-color: teal;
    text-align: left;

}

.thing_wrapper ul {
    padding-left: 20px; /* Отступ слева для каждого элемента списка */
    text-align: left; /* Выравнивание текста в списке по левому краю */
}
